<h1>Hi Julia!</h1>
<p>Schwierigkeitsgrad und Dauer einstellen und los gehts mit dem Kopfrechnen!</p>

<br />
<h3>Zahlenraum</h3>
<p>
  <mat-button-toggle-group name="numberSpace" aria-label="Zahlenraum" (change)="setNumberSpace($event)" [value]="numberSpace$ | async">
    <mat-button-toggle [value]="numberSpace.SMALL">Leicht</mat-button-toggle>
    <mat-button-toggle [value]="numberSpace.MEDIUM">Mittel</mat-button-toggle>
    <mat-button-toggle [value]="numberSpace.BIG">Schwierig</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<br />
<h3>Dauer</h3>
<p>
  <mat-button-toggle-group name="duration" aria-label="Dauer" (change)="setDuration($event)" [value]="duration$ | async">
    <mat-button-toggle [value]="duration.SHORT">{{ duration.SHORT }}s</mat-button-toggle>
    <mat-button-toggle [value]="duration.MEDIUM">{{ duration.MEDIUM }}s</mat-button-toggle>
    <mat-button-toggle [value]="duration.LONG">{{ duration.LONG }}s</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<br />
<button mat-button mat-raised-button color="primary" routerLink="/game">Starten</button>
