<h3>Schwierigkeitsgrad</h3>
<p>
  <mat-button-toggle-group
    class="five"
    name="difficulty"
    aria-label="Schwierigkeitsgrad"
    (change)="setDifficulty($event)"
    [value]="difficulty$ | async"
  >
    <mat-button-toggle [value]="difficulty.TODDLER">1</mat-button-toggle>
    <mat-button-toggle [value]="difficulty.EASY">2</mat-button-toggle>
    <mat-button-toggle [value]="difficulty.MEDIUM">3</mat-button-toggle>
    <mat-button-toggle [value]="difficulty.HARD">4</mat-button-toggle>
    <mat-button-toggle [value]="difficulty.MASTER">5</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<br />
<h3>Dauer</h3>
<p>
  <mat-button-toggle-group name="duration" aria-label="Dauer" (change)="setDuration($event)" [value]="duration$ | async">
    <mat-button-toggle [value]="duration.SHORT">{{ duration.SHORT }}s</mat-button-toggle>
    <mat-button-toggle [value]="duration.MEDIUM">{{ duration.MEDIUM }}s</mat-button-toggle>
    <mat-button-toggle [value]="duration.LONG">{{ duration.LONG }}s</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<br />
<h3>Operatoren</h3>
<p>
  <mat-button-toggle-group
    class="four"
    name="operators"
    aria-label="Operatoren"
    (change)="setOperators($event)"
    [value]="operators$ | async"
    multiple
  >
    <mat-button-toggle [value]="operator.ADD">+</mat-button-toggle>
    <mat-button-toggle [value]="operator.SUBTRACT">-</mat-button-toggle>
    <mat-button-toggle [value]="operator.MULTIPLY">*</mat-button-toggle>
    <mat-button-toggle [value]="operator.DIVIDE">/</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<br />
<button mat-button mat-raised-button color="primary" routerLink="/game">Starten</button>
