<h3>Zahlenraum</h3>
<p>
  <mat-button-toggle-group name="numberSpace" aria-label="Zahlenraum" (change)="setNumberSpace($event)" [value]="numberSpace$ | async">
    <mat-button-toggle [value]="numberSpace.SMALL">Leicht</mat-button-toggle>
    <mat-button-toggle [value]="numberSpace.MEDIUM">Mittel</mat-button-toggle>
    <mat-button-toggle [value]="numberSpace.BIG">Schwierig</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<br />
<h3>Dauer</h3>
<p>
  <mat-button-toggle-group name="duration" aria-label="Dauer" (change)="setDuration($event)" [value]="duration$ | async">
    <mat-button-toggle [value]="duration.SHORT">{{ duration.SHORT }}s</mat-button-toggle>
    <mat-button-toggle [value]="duration.MEDIUM">{{ duration.MEDIUM }}s</mat-button-toggle>
    <mat-button-toggle [value]="duration.LONG">{{ duration.LONG }}s</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<br />
<h3>Operatoren</h3>
<p>
  <mat-button-toggle-group
    class="four"
    name="operators"
    aria-label="Operatoren"
    (change)="setOperators($event)"
    [value]="operators$ | async"
    multiple
  >
    <mat-button-toggle [value]="operator.ADD">+</mat-button-toggle>
    <mat-button-toggle [value]="operator.SUBTRACT">-</mat-button-toggle>
    <mat-button-toggle [value]="operator.MULTIPLY">*</mat-button-toggle>
    <mat-button-toggle [value]="operator.DIVIDE">/</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<br />
<button mat-button mat-raised-button color="primary" routerLink="/game">Starten</button>

<button mat-button mat-raised-button (click)="Yolo()">Yolo</button>
