div.equation {
  display: block;
  width: 100%;
  text-align: center;
  border: 1px dotted #ccc;
  padding: 30px;
  box-sizing: border-box;
  margin: 30px 0;
  font-size: 32px;

  span {
    padding: 0 5px;
    &.equals { color: black; }
    &.result { color: #777; }
    &.number { color: #444; }
    &.operator { color: sandybrown; }
    &.parenthesis { color: cadetblue;}
  }

  &.medium {
    font-size: 24px;
    span {
      padding: 0 3px;
    }
  }

  &.small {
    font-size: 18px;
    span {
      padding: 0 1px;
    }
  }

  div.term {
    display: inline;
  }
}
